@media (max-width: 1400px) {
  .menu ul {
    justify-content: center;
  }

  .container {
    display: block;
    text-align: center;
  }

  .titulo h1 {
    font-size: 3.5rem;
  }

  .container p {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    text-align: justify;
  }

  .section-1,
  .section-2,
  .section-3,
  .section-4 {
    height: 100%;
  }
}

@media (max-width: 700px) {
  .menu ul {
    justify-content: center;
  }

  .menu a {
    padding: 0.3rem;
    font-size: 1.5rem;
    align-items: center;
  }
  .titulo h1 {
    font-size: 2.7rem;
  }
  .container {
    display: inline-block;
  }
  .container p {
    font-size: 1.2rem;
    width: 90%;
    text-align: center;
    margin-top: 40px;
    text-align: justify;
    margin: 0 auto;
  }
  .section-1,
  .section-2,
  .section-3,
  .section-4 {
    height: 100%;
  }

  img {
    width: 90%;
    margin: 0 auto;
  }

  .conteudo-texto p {
    font-size: 1.2rem;
  }

  .footer {
    width: 100%;
  }
}
