.container-slide {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#slider {
  width: 80%;
  height: 50vw;
  max-height: 700px;
  position: relative;
  margin: 30px auto;
  max-width: 1000px;
}

#slider img {
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 800ms;
}

#slider img.selected {
  opacity: 1;
}
