body,
h1,
h2,
ul,
li {
  margin: 0px;
  padding: 0px;
}

body {
  background: #faf6ed;
  font-family: 'Spectral', serif;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  align-items: center;
}

.header {
  height: 100vh;
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu ul {
  margin: 0 auto;
  border-radius: 2px;
  padding-top: 2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #faf6ed;
}

.menu ul li {
  margin-bottom: 25px;
}

.menu ul li a:hover {
  color: goldenrod;
}

.menu a {
  color: #1c1c1c;
  padding: 1.8rem;
  font-size: 2rem;
}

/*.principal {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  opacity: 0.3;
}*/

.titulo {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
}

.titulo h1 {
  margin: 0 auto;
  color: goldenrod;
  font-size: 2rem;
  text-align: center;
  font-family: 'Spectral', serif;
  font-size: 5rem;
  line-height: 84px;
  font-weight: 400;
  align-items: center;
}

.section-1,
.section-2,
.section-3,
.section-4 {
  height: 70vh;
}

.sala-estar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

img {
  margin: 0 30px;
}

.sala-estar p {
  font-size: 1.5rem;
  width: 818px;
  margin-top: 80px;
}

.footer {
  height: 50px;
  background: goldenrod;
  display: flex;
  justify-content: center;
}

.conteudo-texto {
  border: none;
  text-align: center;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5rem;
  margin-top: 90px;
}

.footer p {
  align-items: center;
}

.footer a {
  color: azure;
}
