body,h1,h2,ul,li {
  margin: 0px;
  padding: 0px;

}

body {
  background: #1C1C1C;
  font-family: 'Spectral', serif;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  height: 100vh;
  background-image: url(../img/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu ul {
  margin: 0 1rem;
  padding-top: 2rem;
  height: 4.0rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

.menu ul li a:hover {
  color: goldenrod;
}

a {
  color: #ffffff;
  padding: 3rem;
  font-size: 2rem;
}

/*.principal {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  opacity: 0.3;
}*/

.titulo {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  
}

.titulo h1 {
  margin: 0 auto;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  font-family: 'Spectral', serif;
  font-size: 5rem;
  line-height: 84px;
  font-weight: 400;
}

.section-1,.section-2,.section-3,.section-4  {
  display: flex;
  justify-content: center;
}

.conteudo {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0 30px;
}

.conteudo h1 {
  display: flex;
  margin: 50px auto;
  justify-content: center;
  color: goldenrod;
  font-size: 2.0rem;
}

.imgs {
  display: flex;
  flex-wrap: wrap;
}

.iimgs{
 margin: 20px 30px;
}

.conteudo-texto {
  color: floralwhite;
  display: flex;
  max-width: 700px;
  padding: 2.0rem;
  margin: 20px auto;
  border-top: solid 3px goldenrod;
  font-size: 1.3rem;
}

.imgs,.iimgs:hover ,.imgp5:hover {
  transform: scale(1.1);
  transition: 1s;
}

img {
  display: block;
  max-width: 100%;
}

.section-5 {
 height: 173vh;
 max-width: 93vw;
 column-count: 6;
 margin: 0 auto;
overflow: hidden;
}

 .imgp5{
   margin-bottom: 20px;
 }





 
